page-modal {

    // .modalDialog:target {
    //     opacity:1;
    //     pointer-events: auto;
    // }
    
    // .modalDialog > div {
    //     width: 400px;
    //     position: relative;
    //     margin: 10% auto;
    //     padding: 5px 20px 13px 20px;
    //     border-radius: 10px;
    //     background: #fff;
    //     background: -moz-linear-gradient(#fff, #999);
    //     background: -webkit-linear-gradient(#fff, #999);
    //     background: -o-linear-gradient(#fff, #999);
    // }

    h2 {
        text-align: center;
        font-size: 125%;
    }
    
    p {
        text-align: center;
        color:grey;
    }

    .button {
        // margin: 0 auto;
        text-align: center;
        display: block;
        background-color: white;
        color:grey;
        border: 1px solid grey;
        // width: 100%;
        border-radius: 12px;
        font-size: 16px;
        // height: 8%;
    }
}
